.calendarContainer {
  display: flex;
  width: 100%;
  height: 220vh;
  margin-top: 120px;
}

.timeColumn {
  width: 8.1%;
  height: fit-content;
  background: #f5f5f5;
  text-align: center;
  padding-top: 10px;
  font-size: 12px;
  border-right: 1px solid #c4c4c4;
}

.timeSlot {
  height: 61px;
}

.appointment {
  display: flex;
  flex-direction: column;
  position: absolute;
  width: 94%;
  left: 10px;
  right: 10px;
  background: #73C1ED;
  color: #313131;
  padding: 10px;
  box-sizing: border-box;
  border-radius: 4px;
  font-size: 12px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
  cursor: pointer;
}

.col{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 30.9%;
  margin-top: 16px;
}

.small-col{
  position: relative;
  display: flex;
  flex-direction: column;
  width: 14%;
  margin-top: 16px;
}

.row{
  display: flex;
  flex-direction:row;
  height: 60px;
  border-top: 1px solid #c4c4c4;
  border-right: 1px solid #ccc;
}

.appointmentName{
  font-weight: bold;
}

.appointmentInfoCon{
  display: flex;
  align-items: center;
  width: 100%;
  height: fit-content;
  flex-direction: row;
}

.appointmentType{
  margin-right: auto;
}

.employeeInfoCon{
  display: flex;
  flex-direction: row;
  align-items: center;
  height: fit-content;
  width: 100%;
  position: fixed;
  top: 136px; /* Position the navbar at the top of the page */
  height: fit-content;
  z-index: 6;
  background: #ffffff;
  border-top: 1px solid #e7e7e7;
  border-left: 1px solid #e7e7e7;
  border-bottom: 1px solid #e7e7e7;;
}

.employeesCon{
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 93%;
}

.employeeCon{
  height: 52px;
  width: 28.2%;
  border-right: 1.2px solid #ddd;
  box-sizing: border-box;
  font-weight: 600;
  padding: 18px;
}

.timeTextCon{
  height: 52px;
  width: 6.5%;
  border-right: 1.2px solid #ddd;
  box-sizing: border-box;
  font-weight: 600;
  padding: 18px;
  text-align: center;
}

.DaysCon{
  display: flex;
  flex-direction: row;
  height: fit-content;
  width: 79%;
}

.DayCon{
  height: 52px;
  width: 14.4%;
  border-right: 1.2px solid #ddd;
  box-sizing: border-box;
  font-size: 16px;
  padding: 18px;
}